
@{
    ViewBag.Title = "AreaList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Area
    </h1>
    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Location</a></li>
        <li class="active">Area</li>
    </ol>
  
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div id="dvErrorStatus" style="display:none" class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                        <label id="lblArea"></label>
                    </div>
                    <div id="dvSuccess" style="display:none" class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <label id="lbl_status"></label>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <input type="button" class="btn btn-primary" value="Add Area" onclick="window.location.href = '@Url.Action("Area", "Salon")';" style="width:100px;" />

                    <input type="submit" class="btn btn-danger" id="btnBack" value="Back" style="width:100px;float:right;" onclick="window.location.href = '@Url.Action("Dashboard", "Salon")';" />
                </div>
                <div class="box-body table-responsive">
                    <table id="tblArea" style="width: 100%" class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>

                                <th>Area Name</th>
                               
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tblAreaBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>

<script type="text/javascript">

    var UserId = localStorage.getItem("UserId");
    var RoleId = localStorage.getItem("RoleId");

    window.onload = function () {
        // GetAll();
        localStorage.setItem("EditAreaId", "null");

        //if (UserId != "null" && RoleId == "1") {
        var Message = localStorage.getItem("AreaMessage");
        if (Message == "1") {
            // $("#dvErrorStatus").css({ display: "none" });
            // $("#dvSuccess").css({ display: "block" });
            //  $("#lbl_status").text("Area Updated Successfully");
            $("#myModal3").css('display', "block");
            $("#lblupdated").text("Area Updated Successfully");
            GetAll();
        }
        else if (Message == "2") {
            //  $("#dvErrorStatus").css({ display: "none" });
            // $("#dvSuccess").css({ display: "block" });
            // $("#lbl_status").text("Area Created Successfully");
            $("#myModal3").css('display', "block");
            $("#lblupdated").text("Area Created Successfully");
            GetAll();
        }
        else {
            $("#dvErrorStatus").css({ display: "none" });
            $("#dvSuccess").css({ display: "none" });
            GetAll();
        }
        @*}
        else {
            window.location.href = '@Url.Action("LockScreen", "Salon")';
        }*@
    }


    function GetAll() {

        localStorage.setItem("AreaMessage", "null");
        $('#tblAreaBody').text('');
        $('#btnEdit').hide();
        $('#btnSave').show();
        $.ajax({
            type: 'GET',
            url: URLLink + "api/Area/GetData",
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            cache: false,
            xhrFields: {
                withCredentials: false
            },
            success: function (json) {

                if (json[0].Message == "Error") {
                    $('#tblArea').hide();
                    $("#dvSuccess").css({ display: "none" });
                    $("#dvErrorStatus").css({ display: "block" });
                    $('#lblArea').text("Error");

                }
                else if (json[0].Message == "NoData") {
                    $('#tblArea').hide();
                    $("#dvSuccess").css({ display: "none" });
                    $("#dvErrorStatus").css({ display: "block" });
                    // $('#lblArea').text("No Data");
                }

                else if (json[0].Message == "Success") {
                    $('#tblArea').show();
                    if ($.fn.dataTable.isDataTable('#tblArea')) {
                        $('#tblArea').DataTable().destroy();
                    }
                    $('#tblAreaBody').empty();
                    for (var i = 0; i < json.length; i++) {

                        tr = $('<tr/>');

                        tr.append("<td>" + json[i].AreaName + "</td>");

                        if (json[i].IsActive == 1) {

                            tr.append("<td><a href='#' id='delete" + i + "' title='Deactivate' onclick='UpdateStatus(" + json[i].AreaId + " ,0)'><i class='fa fa-check nav_action_icon'></i> </a> | <a href='#' id='edit" + i + "' onclick='Edit(" + json[i].AreaId + ")' ><i class='fa fa-pencil'></i> </a></td>");
                        }
                        else if (json[i].IsActive == 0) {

                            tr.append("<td><a href='#' id='delete" + i + "' title='Activate' onclick='UpdateStatus(" + json[i].AreaId + ",1)'><i class='fa fa-ban nav_action_icon'></i> </a> | <a href='#' id='edit" + i + "' onclick='Edit(" + json[i].AreaId + ")' ><i class='fa fa-pencil'></i> </a></td>");
                        }

                        $('#tblArea').append(tr);
                    }
                    $('#tblArea').DataTable({

                        bsort: false,
                        dom: 'Bfrtip',
                        buttons: [
                             'excel', 'pdf'
                        ],
                        select: true
                    });
                }
            },
            error: function (err) {
                $("#dvSuccess").css({ display: "none" });
                $("#dvErrorStatus").css({ display: "block" });
                $('#lblArea').text(err.StatusText);
            }
        });
    }
    //local
    function Edit(AreaId) {
        localStorage.setItem("EditAreaId", AreaId);
        window.location.href = '@Url.Action("Area", "Salon")';
    }


    function UpdateStatus(AreaId, IsActive) {
        $("#lbl_status").text("");
        var UserId = localStorage.getItem("UserId");
        var StatusText = '';
        var UpdateStatusText = '';
        if (IsActive == 1) {
            StatusText = "active";
            UpdateStatusText = "activated";
        }
        else if (IsActive == 0) {
            StatusText = "deactive";
            UpdateStatusText = "deactivated";
        }
        if (confirm("Are you sure to  " + StatusText + " this Area?") == true) {
            $.ajax({
                url: URLLink + "api/Area/UpdateStatus",
                data: { "Status": IsActive, "UpdatedBy": UserId, "AreaId": AreaId },
                // UpdateStatus(int Status, int UpdatedBy, int DepartmentId)
                type: "GET",
                cache: false,
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (r) {

                    if (r[0].Message == "REFERENCE") {
                        $("#dvSuccess").css({ display: "none" });
                        $("#dvErrorStatus").css({ display: "block" });
                        $("#lblArea").text("Sorry! Can't Delete This Record. It Is Existed In Another Table");
                    }
                    else if (r[0].Message == "Error") {
                        $('#tblArea').hide();
                        $("#dvErrorStatus").css({ display: "block" });
                        $('#lblArea').text(r[0].ErrorMessage);
                    }
                    else if (r[0].Message = "Success") {
                        GetAll();
                        $("#dvErrorStatus").css({ display: "none" });
                        $("#dvSuccess").css({ display: "block" });
                        $("#lbl_status").text("Area " + UpdateStatusText + " Successfully");
                    }
                },
                error: function (err) {
                    alert(err.StatusText);
                }
            });
        }
        else {

        }
    }

    ///////////////////////////

    function Delete(AreaId) {
        $("#lbl_status").text("");
        if (confirm("Are you Sure to delete this Area?") == true) {
            alert(AreaId);
            $.ajax({
                url: URLLink + "api/Area/Delete",
                data: { "AreaId": AreaId },
                type: "GET",
                cache: false,
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (r) {
                    $("#lblArea").text(" ");
                    $("#txtAreaId").val("");
                    $("#txtArea").val("");
                    $("#tblArea").text("");
                    GetAll();
                    if (r[0].Message == "REFERENCE") {
                        $("#dvSuccess").css({ display: "none" });
                        $("#dvErrorStatus").css({ display: "block" });
                        $("#lblArea").text("Sorry! Can't Delete This Record. It Is Existed In Another Table");
                    }
                    else if (r[0].Message == "Error") {
                        $('#tblArea').hide();
                        $("#dvErrorStatus").css({ display: "block" });
                        $('#lblArea').text(r[0].ErrorMessage);
                    }
                    else if (r[0].Message = "Success") {
                        $("#dvErrorStatus").css({ display: "none" });
                        $("#dvSuccess").css({ display: "block" });
                        $("#lbl_status").text("Area Deleted Successfully");
                    }
                },
                error: function (err) {
                    $("#dvErrorStatus").css({ display: "block" });
                    $('#lblArea').text(err.StatusText);
                }
            });
        } else {

        }
    }
</script>