
@{
    ViewBag.Title = "Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <section class="content-header">
        <h1>
            Area
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Location</a></li>
            <li class="active">Create Area</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <div id="dvErrorStatus" style="display:none" class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <label id="lblArea"></label>
                        
                        </div>
                        <div id="dvSuccess" style="display:none" class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <label id="lbl_status"></label>
                        </div>
                    </div>
                    <div class="box-body table-responsive">
                        <table style="width: 100%" class="table table-bordered table-hover dataTable">
                            <tr><td colspan="4"><label style="color:red;margin-left: 1%;">* indicates fields are required</label></td></tr>
                            <tr>
                                <td>
                                    City Name:<label style="color:red;margin-left: 1%;">*</label>
                                </td>
                                <td>
                                    <select id="ddlCity" class="form-control">
                                        <option value="0">--Select--</option>
                                    </select>
                                </td>
                            </tr>
                              <tr>

                                <td>
                                    Area Name:<label style="color:red;margin-left: 1%;">*</label>
                                </td>
                                <td>
                                    <input type="text" maxlength="40" placeholder="Enter Area Name" id="txtArea" name="txtArea" title="Enter Alphabets only" class="form-control" required />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Post Code:<label style="color:red;margin-left: 1%;">*</label>
                                </td>
                                <td>
                                    <input type="text" maxlength="40" placeholder="Enter Post Code" id="txtPostCode" name="txtPostCode"  class="form-control" required />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="text-align:right">
                                    <input type="button" class="btn btn-primary" id="btnSave" value="Save" style="width:100px;" onclick="Save()" />
                                    <input type="button" class="btn btn-primary" id="btnEdit" value="Update" style="width:100px;" onclick="Update()" />
                                    @*<input type="button" class="btn btn-danger" id="btnReset" value="Reset" onclick="Clear()" style="width:100px;" />*@
                                    <input type="button" class="btn btn-danger" id="btnBack" value="Back" onclick="window.location.href = '@Url.Action("AreaList", "Salon")';" style="width:100px;" />
                                    <input type="text" hidden="hidden" id="txtAreaId" name="AreaId" />
                                </td>
                            </tr>
                        </table>
                        <label id="lbl_status"></label>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script type="text/javascript">

          var URL = "@System.Configuration.ConfigurationManager.AppSettings["URL"]";
        var UserId = localStorage.getItem("UserId");
        var RoleId = localStorage.getItem("RoleId");
        var EditAreaId = localStorage.getItem("EditAreaId");

        window.onload = function () {
            if (UserId != "null" || UserId != null && RoleId == "1") {
             
                if (EditAreaId == "null") {
                    City();
                        $('#btnEdit').hide();
                        $('#btnSave').show();
                    }
                    else {
                        BindArea(EditAreaId);
                        $('#btnEdit').show();
                        $('#btnSave').hide();
                        $('#btnReset').hide();
                    }

            }
            else {
                window.location.href = '@Url.Action("Logout", "Salon")';
            }
        }

    /////dropd down City Name
    function City() {
            $.ajax({
                type: 'GET',
                url: URL + "api/City/GetdataByIsActive",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                cache:false,
                xhrFields: {
                    withCredentials: false
                },
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].CityName, data[i].CityId);
                        $("#ddlCity").val("");
                        $('#ddlCity').append(opt);
                    }

                },
                error: function (err) {
                    console.log(err.StatusText);
                }
            });
        }

    function cityLoad(CityId) {
        $.ajax({
            type: 'GET',
            url: URL + "api/City/GetdataByIsActive",
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            cache: false,
            xhrFields: {
                withCredentials: false
            },
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var opt = new Option(data[i].CityName, data[i].CityId);
                    $("#ddlCity").val("");
                    $('#ddlCity').append(opt);
                }
                $('#ddlCity').val(CityId);
            },
            error: function (err) {
                console.log(err.StatusText);
            }
        });
    }

    function BindArea(AreaId) {
            $("#lbl_status").text("");
            Clear();
          
            $.ajax({
                url: URL + "api/Area/GetDatabyId",
                
                data: { "Areaid": AreaId },
                type: "GET",
                cache: false,
                success: function (r) {
                 
                    $('#btnEdit').show();
                    $('#btnSave').hide();
                    console.log(r);
                    $("#txtAreaId").val(AreaId);
                    $("#txtArea").val(r[0].AreaName);
                    $("#txtPostCode").val(r[0].PostCode);
                    cityLoad(r[0].CityId);
                   // $('#ddlCity').val(r[0].CityId);
                },
                error: function (err) {
                    $("#dvErrorStatus").css({ display: "block" });
                    $('#lblArea').text(err.statusText);
                }
            })
        }

        function Save() {
            $("#lbl_status").text("");
            $("#lblArea").text("");
            if ($("#txtArea").val() != '' && $("#ddlCity").val() != 0 && $("#txtPostCode").val() != '') {
                var AreaName = $("#txtArea").val();
                var PostCode = $("#txtPostCode").val();
                //doubt
                var CityId = $("#ddlCity").val();

                var CreatedBy = UserId;
                //Insert(string AreaName, int CityId, int IsAcitve, int CreatedBy)
                if (AreaName.match(/^[a-zA-Z ]*$/)) {
                    
                    $.ajax({
                        url: URL + "api/Area/Insert",
                        //is active
                        data: { "AreaName": $("#txtArea").val(), "CityId": $("#ddlCity").val(), "IsAcitve": 1, "CreatedBy": CreatedBy, "PostCode": $("#txtPostCode").val() },
                        type: "GET",
                        cache: false,
                        success: function (r) {
                            if (r[0].Message == "UniqueConstraint") {
                                $("#dvErrorStatus").css({ display: "block" });
                                $("#lblArea").text("Area Name Already Existed.");
                            }
                            else if (r[0].Message == "Error") {
                                $("#dvErrorStatus").css({ display: "block" });
                                $('#lblArea').text(r[0].ErrorMessage);
                            }
                            else {
                                Clear();
                                StatusMessage(2);
                            }
                        },
                        error: function (err) {
                            $("#dvErrorStatus").css({ display: "block" });
                            $('#lblArea').text(err.statusText);
                        }
                    });
                } else {
                   
                        $("#dvErrorStatus").css({ display: "block" });
                        $("#lblArea").text("Please Enter Valid Area Name");
                    }
                  
                
            } else {
             if($("#ddlCity").val() == 0 )
                {
                    $("#dvErrorStatus").css({ display: "block" });
                    
                    $("#lblArea").text("Please Select City Name");
                    $("#ddlCity").focus();
                }
             else if ($("#txtArea").val() == '')
                {
                    $("#dvErrorStatus").css({ display: "block" });
                    $("#lblArea").text("Please Enter Area Name");
                    
                    $("#txtArea").focus();
                }
                
             else if ($("#txtPostCode").val() == '') {
                 $("#dvErrorStatus").css({ display: "block" });
                 $("#lblArea").text("Please Enter Post Code");

                 $("#txtPostCode").focus();
             }
               
            }
        }
        function Clear() {
           
            $("#txtAreaId").val("");
            $("#txtArea").val("");
            $("#txtPostCode").val("");
            $("#ddlCity").val("0");
            $("#lbl_status").text("");
            $("#lblArea").text(" ");
            $('#btnEdit').hide();
            $('#btnSave').show();
            $("#dvSuccess").css({ display: "none" });
            $("#dvErrorStatus").css({ display: "none" });
        }



        function Update() {
            $("#lbl_status").text("");
            if ($("#txtArea").val() != '' && $("#ddlCity").val() != 0 && $("#txtPostCode").val() != '') {
                var City = $("#txtArea").val();
                var AreaName = $("#txtArea").val();
                var PostCode = $("#txtPostCode").val();
                var UpdatedBy = UserId;
                if (AreaName.match(/^[a-zA-Z ]*$/)) {
                    // Update(string CityName,int UpdatedBy,int Cityid)
                    $.ajax({
                        url: URL + "api/Area/Update",
                        data: { "AreaName": $("#txtArea").val(), "CityId": $("#ddlCity").val(), "UpdatedBy": UpdatedBy, "PostCode": $("#txtPostCode").val(), "AreaId": $("#txtAreaId").val() },
                        cache:false,
                        type: "GET",
                        dataType: 'json',
                        contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                        cache: false,
                        success: function (r) {
                            if (r[0].Message == "UniqueConstraint") {
                                $("#dvErrorStatus").css({ display: "block" });
                                $("#lblCity").text("City Name Already Existed.");
                            }
                            else if (r[0].Message == "Error") {
                                $("#dvErrorStatus").css({ display: "block" });
                                $('#lblCity').text(r[0].ErrorMessage);
                            }
                            else {
                                Clear();
                                StatusMessage(1);
                            }
                        },
                        error: function (err) {
                            $("#dvErrorStatus").css({ display: "block" });
                            $('#lblCity').text(err.statusText);
                        }
                    });
                } else {
                    if (!AreaName.match(/^[a-zA-Z ]*$/)) {
                        $("#dvErrorStatus").css({ display: "block" });
                        $("#lblArea").text("Please Enter Valid Area Name");
                    }
                    else {
                        $("#dvErrorStatus").css({ display: "block" });
                        $("#lblArea").text("Please Enter Valid Post Code ");
                    }
                }
            }
            else {
                if ($("#txtArea").val() == '') {
                    $("#dvErrorStatus").css({ display: "block" });
                    $("#lblArea").text("Please Enter Area Name");

                    $("#txtArea").focus();
                }
                else  {
                    $("#dvErrorStatus").css({ display: "block" });

                    $("#lblArea").text("Please Select City Name");
                    $("#ddlCity").focus();
                }
                
            }
        }

        function StatusMessage(value) {
            localStorage.setItem("AreaMessage", value);
            window.location.href = '@Url.Action("AreaList", "Salon")';
        }
</script>