
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Category Title
    </h1>
    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Treatment</a></li>
        <li class="active">CategoryList</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div id="dvErrorStatus" style="display:none" class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                        <label id="lblCategory"></label>
                    </div>
                    <div id="dvSuccess" style="display:none" class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <label id="lbl_status"></label>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <input type="button" class="btn btn-primary" value="Add Category Title" onclick="window.location.href='@Url.Action("Category", "Salon")';" style="text-align:left" />

                    <input type="submit" class="btn btn-danger" id="btnBack" value="Back" style="width:100px;float:right;" onclick="window.location.href = '@Url.Action("Dashboard", "Salon")';" />
                </div>
                <div class="box-body table-responsive">


                    <table id="tblCategory" style="width: 100%" class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>

                                <th>Category</th>
                                <th>Image</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="table1"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>


<script type="text/javascript">
    var WebURL = [location.protocol, '//', location.host].join('') + '/';
    

    var UserId = localStorage.getItem("UserId");
    var RoleId = localStorage.getItem("RoleId");

    window.onload = function () {
        localStorage.setItem("EditCategoryId", "null");

        //if (UserId != "null" && RoleId == "1") {
        var Message = localStorage.getItem("CategoryMessage");
        if (Message == "1") {
           // $("#dvErrorStatus").css({ display: "none" });
           // $("#dvSuccess").css({ display: "block" });
           // $("#lbl_status").text("Category Updated Successfully");
            $("#myModal3").css('display', "block");
            $("#lblupdated").text("Category Updated Successfully");
            GetAll();
        }
        else if (Message == "2") {
          //  $("#dvErrorStatus").css({ display: "none" });
          //  $("#dvSuccess").css({ display: "block" });
            //  $("#lbl_status").text("Category Created Successfully");
            $("#myModal3").css('display', "block");
            $("#lblupdated").text("Category Created Successfully");
            GetAll();
        }
        else {
            $("#dvErrorStatus").css({ display: "none" });
            $("#dvSuccess").css({ display: "none" });
            GetAll();
        }
        @*}
        else {
            window.location.href = '@Url.Action("LockScreen", "CMS")';
        }*@
    }


    function GetAll() {

        localStorage.setItem("CategoryMessage", "null");
        $('#table1').text('');
        $('#btnEdit').hide();
        $('#btnSave').show();
        $.ajax({
            type: 'GET',
            url: URLLink + "api/Category/GetCategory",
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            xhrFields: {
                withCredentials: false
            },
            success: function (json) {
                if (json[0].Message == "Error") {
                    $('#tblCategory').hide();
                    $("#dvSuccess").css({ display: "none" });
                    $("#dvErrorStatus").css({ display: "block" });
                    $('#lblCategory').text("Error");

                }
                else if (json[0].Message == "NoData") {
                    $('#tblCategory').hide();
                    $("#dvSuccess").css({ display: "none" });
                    $("#dvErrorStatus").css({ display: "block" });
                   // $('#lblCategory').text("No Data");
                }
                else if (json[0].Message == "Success") {
                    $('#tblCategory').show();
                    if ($.fn.dataTable.isDataTable('#tblCategory')) {
                        $('#tblCategory').DataTable().destroy();
                    }
                    $('#table1').empty();
                    for (var i = 0; i < json.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td>" + json[i].Category + "</td>");
                        tr.append("<td><img src='" + json[i].ImagePath + "' width='50px' /></td>");

                        if (json[i].IsActive == 1) {

                          //  tr.append("<td><a href='#' id='delete" + i + "'  class='btn btn-success' onclick='UpdateStatus(" + json[i].CategoryId + ",0)'> </a> | <a href='#' id='edit" + i + "' onclick='Edit(" + json[i].CategoryId + ")' class='btn btn-success'><i class='fa fa-pencil'></i> </a></td>");
                            tr.append("<td><a href='#' id='delete" + i + "'  title='Deactivate' onclick='UpdateStatus(" + json[i].CategoryId + " ,0)'><i class='fa fa-check nav_action_icon'></i> </a> | <a href='#' id='edit" + i + "' onclick='Edit(" + json[i].CategoryId + ")' ><i class='fa fa-pencil'></i> </a></td>");
                        }
                        else if (json[i].IsActive == 0) {

                          //  tr.append("<td><a href='#' id='delete" + i + "'  class='btn btn-danger' onclick='UpdateStatus(" + json[i].CategoryId + " ,1)'> </a> | <a href='#' id='edit" + i + "' onclick='Edit(" + json[i].CategoryId + ")'  class='btn btn-success'><i class='fa fa-pencil'></i> </a></td>");
                            tr.append("<td><a href='#' id='delete" + i + "'  title='Activate' onclick='UpdateStatus(" + json[i].CategoryId + ",1)'><i class='fa fa-ban nav_action_icon'></i> </a> | <a href='#' id='edit" + i + "' onclick='Edit(" + json[i].CategoryId + ")' ><i class='fa fa-pencil'></i> </a></td>");
                        }
                        // tr.append("<td><a href='#' id='delete" + i + "' class='fa fa-trash-o' onclick='Delete(" + json[i].RoleId + ")'></a> | <a href='#' id='edit" + i + "' onclick='Edit(" + json[i].RoleId + ")' class='fa fa-pencil'></a></td>");
                        $('#tblCategory').append(tr);
                    }
                    $('#tblCategory').DataTable({
                      
                        bsort: false,
                        dom: 'Bfrtip',
                        buttons: [
                             'excel', 'pdf'
                        ],
                        select: true
                    });
                }
                $('#preloader').hide();
            },
            error: function (err) {
                $("#dvSuccess").css({ display: "none" });
                $("#dvErrorStatus").css({ display: "block" });
                $('#lblCategory').text("Problem With Server");
            }
        });
    }

    function Edit(PersonId) {
        localStorage.setItem("EditCategoryId", PersonId);
        window.location.href = '@Url.Action("Category", "Salon")';
    }


    function UpdateStatus(CategoryId, Status) {
        $("#lbl_status").text("");
        var UserId = localStorage.getItem("UserId");
        var StatusText = '';
        var UpdateStatusText = '';
        if (Status == 1) {
            StatusText = "active";
            UpdateStatusText = "activated";
        }
        else if (Status == 0) {
            StatusText = "deactive";
            UpdateStatusText = "deactivated";
        }
        if (confirm("Are you sure to  " + StatusText + " this Category?") == true) {
            $.ajax({
                url: URLLink + "api/Category/UpdateStatus",
                data: { "Status": Status, "UpdatedBy": UserId, "CategoryId": CategoryId },
                // UpdateStatus(int Status, int UpdatedBy, int DepartmentId)
                type: "GET",
                cache: false,
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (r) {
                    if (r[0].Message == "REFERENCE") {
                        $("#dvSuccess").css({ display: "none" });
                        $("#dvErrorStatus").css({ display: "block" });
                        $("#lblCategory").text("Sorry! Can't Delete This Record. It Is Existed In Another Table");
                    }
                    else if (r[0].Message == "Error") {
                        $('#tblCategory').hide();
                        $("#dvErrorStatus").css({ display: "block" });
                        $('#lblCategory').text(r[0].ErrorMessage);
                    }
                    else if (r[0].Message = "Success") {
                        GetAll();
                        $("#dvErrorStatus").css({ display: "none" });
                        $("#dvSuccess").css({ display: "block" });
                        $("#lbl_status").text("Category " + UpdateStatusText + " Successfully");
                    }
                },
                error: function (err) {
                    //  alert(err.StatusText);
                }
            });
        }
        else {

        }
    }


</script>



