
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-control
    {
        width: 300px !important;
    }
</style>
<section class="content-header">
    <h1>Change Password</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Masters</a></li>
        <li class="active">Change Password</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body table-responsive" style="padding:0px">
                    <div id="dvErrorStatus" style="display:none" class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <lable id="lblSettings"></lable>
                    </div>
                    <div id="dvSuccess" style="display:none" class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <lable id="lbl_status"></lable>
                    </div>
                </div>
                <div class="box-body">
                    <div class="box-body">
                        <h4 style="margin-left:-9px;margin-right:-10px; padding: 10px; background-color:#4b8df8; color:white; height: 40px">
                            <i class="fa fa-lock"></i>
                            <lable>
                                Change Password
                            </lable>
                        </h4>
                        <table style="width: 100%" class="table table-bordered table-hover dataTable">
                           
                            <tr>
                                <td style="max-width:30px;">
                                    <lable>Old Password<span style="color:red;">*</span></lable>
                                </td>
                                <td>
                                    <input type="password" maxlength="40" id="txtOldPassword" placeholder="Enter Old Password" name="txtOldPassword" title="Enter Alphabets only" pattern="^[a-zA-Z]*$" class="form-control" required />
                                </td>
                            </tr>
                            <tr>
                                <td style="max-width:25px;">
                                    <lable>New Password<span style="color:red;">*</span></lable>
                                </td>
                                <td>
                                    <input type="password" maxlength="40" id="txtNewPassword" placeholder="Enter New Password" name="txtNewPassword" title="Enter Alphabets only" pattern="^[a-zA-Z]*$" class="form-control" required />
                                </td>
                            </tr>
                            <tr>
                                <td style="max-width:48px;">
                                    <lable>Confirm New Password<span style="color:red;">*</span></lable>
                                </td>
                                <td>
                                    <input type="password" maxlength="40" id="txtConfirmNewPassword" placeholder="Enter Confirm New Password" name="txtConfirmNewPassword" title="Enter Alphabets only" pattern="^[a-zA-Z]*$" class="form-control" required />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:right">
                                    <input type="button" class="btn btn-primary" id="btnSubmit" value="Change Password" style="width:145px;" onclick="ChangePassword()" />
                                    @*<input type="button" class="btn btn-danger" id="btnReset" value="Reset" onclick="Clear()" style="width:100px;" />*@
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var URL = "@System.Configuration.ConfigurationManager.AppSettings["URL"]";
   // Permissions();
    function ChangePassword() {
        if ($("#txtOldPassword").val() != "" && $("#txtNewPassword").val() != "" && $("#txtConfirmNewPassword").val() != "") {
            var Password = localStorage.getItem("Password");
            if(Password==$("#txtOldPassword").val())
            {
                if($("#txtNewPassword").val()==$("#txtConfirmNewPassword").val())
                {
                    Save();
                }
                else
                {
                    $("#dvErrorStatus").css({ display: "block" });
                    $("#lblSettings").text("New Password and Confirm New Password Not Match.");
                    $("#txtConfirmNewPassword").focus();
                }
            }
            else
            {
                $("#dvErrorStatus").css({ display: "block" });
                $("#lblSettings").text("Please Enter Correct Old Password");
                $("#txtOldPassword").focus();
            }

        }
        else {
            if ($("#txtOldPassword").val() == '') {
                $("#dvErrorStatus").css({ display: "block" });
                $("#lblSettings").text("Please Enter Old Password");
                $("#txtOldPassword").focus();
            }
            else if ($("#txtNewPassword").val() =='') {
                $("#dvErrorStatus").css({ display: "block" });
                $("#lblSettings").text("Please Enter New Password");
                $("#txtNewPassword").focus();
            }
            else if ($("#txtConfirmNewPassword").val() == "") {
                $("#dvErrorStatus").css({ display: "block" });
                $("#lblSettings").text("Please Enter Confirm New Password");
                $("#txtConfirmNewPassword").focus();
            }
        }
    }

    function Clear()
    {
        $("#txtOldPassword").val("");
        $("#txtNewPassword").val("");
        $("#txtConfirmNewPassword").val("");
        $("#dvErrorStatus").css({ display: "none" });
        $("#dvSuccess").css({ display: "none" });
        $("#lbl_status").text("");
    }
    GetAdminEmail();
    function GetAdminEmail() {
        $.ajax({
            type: 'GET',
            url: URL + "api/Users/Get_User_ById",
            data:{"UserId":UserId},
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            xhrFields: {
                withCredentials: false
            },
            success: function (json) {
                //  alert(json[0].AdminName);
                localStorage.setItem("AdminEmail", json[0].Email);
                localStorage.setItem("AdminMobileNumber", json[0].MobileNumber);
                localStorage.setItem("AdminName", json[0].UserName);
            },
            error: function (err) {
                console.log(err.StatusText);
            }
        });
    }
    function Save()
    {
        var UserId = localStorage.getItem("UserId");
        var AdminEmail = localStorage.getItem("AdminEmail");
        var AdminName = localStorage.getItem("AdminName");
        var MobileNumber = localStorage.getItem("AdminMobileNumber");
        var Content = "Thank you Your Login Details Updated Successfullly. <br/> Your Salon Login Credentials are :<br/><br/> UserName : " + AdminName + " <br/> Password :" + $('#txtConfirmNewPassword').val() + " ";
        $.ajax({
            url: URL + "api/Users/Change_Password?Password=" + $("#txtConfirmNewPassword").val() + "&UserId=" + UserId + "",
            type: "GET",
            cache: false,
            success: function (r) {
                $.ajax({
                    url: URL + "api/emailTemplateTypes/SendEmail",
                    data: { "Email": AdminEmail, "Mobile": MobileNumber, "TemplateTypeId": 8, "Content": Content, "Name": AdminName },
                    type: "GET",
                    cache: false,
                    success: function (json) {

                    }
                });

                if (r[0].Message = "Success")
                {
                    $("#dvErrorStatus").css({ display: "none" });
                    $("#dvSuccess").css({ display: "block" });
                    $("#lbl_status").text("Password Changed Successfully");
                    localStorage.setItem("Password", $("#txtConfirmNewPassword").val());
                    $("#txtConfirmNewPassword").val("");
                    $("#txtNewPassword").val("");
                    $("#txtOldPassword").val("");
                }
                else if (r[0].Message = "Error") {
                    $("#dvErrorStatus").css({ display: "block" });
                    $("#dvSuccess").css({ display: "none" });
                    $("#lbl_status").text(r[0].Error);
                }

            },
            error: function (err) {
                alert(err.statusCode + "  " + err.statusText);
            }
        })
    }
</script>


