
@{
    ViewBag.Title = "Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <section class="content-header">
        <h1>
            Classes
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Classes</a></li>
            <li class="active">Create Class</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <div id="dvErrorStatus" style="display:none" class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <label id="lblClasses"></label>

                        </div>
                        <div id="dvSuccess" style="display:none" class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <label id="lbl_status"></label>
                        </div>
                    </div>
                    <div class="box-body table-responsive">
                        <table style="width: 100%" class="table table-bordered table-hover dataTable">
                            <tr><td colspan="4"><label style="color:red;margin-left: 1%;">* indicates fields are required</label></td></tr>
                            <tr>
                                <td>
                                    Classes Name:<label style="color:red;margin-left: 1%;">*</label>
                                </td>
                                <td>
                                    <input type="text" maxlength="40" style="width:50%;" placeholder="Enter Classes Name" id="txtClasses" name="txtClasses" title="Enter Alphabets only" class="form-control" required />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="text-align:right">
                                    <input type="button" class="btn btn-primary" id="btnSave" value="Save" style="width:100px;" onclick="Save()" />
                                    <input type="button" class="btn btn-primary" id="btnEdit" value="Update" style="width:100px;" onclick="Update()" />
                                    <input type="button" class="btn btn-danger" id="btnBack" value="Back" onclick="window.location.href = '@Url.Action("ClassesList", "Salon")';" style="width:100px;" />
                                    <input type="text" hidden="hidden" id="txtClassesId" name="ClassesId" />
                                </td>
                            </tr>
                        </table>
                        <label id="lbl_status"></label>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script type="text/javascript">

    var URL = "@System.Configuration.ConfigurationManager.AppSettings["URL"]";
    var UserId = localStorage.getItem("UserId");
    var RoleId = localStorage.getItem("RoleId");
    var EditClassesId = localStorage.getItem("EditClassesId");

    window.onload = function () {
        if (UserId != "null" || UserId != null && RoleId == "1") {

            if (EditClassesId == "null") {
               
                $('#btnEdit').hide();
                $('#btnSave').show();
            }
            else {
                BindClasses(EditClassesId);
                $('#btnEdit').show();
                $('#btnSave').hide();
                $('#btnReset').hide();
            }

        }
        else {
            window.location.href = '@Url.Action("Logout", "Salon")';
        }
    }

 
    function BindClasses(ClassesId) {
        $("#lbl_status").text("");
      
        $.ajax({
            url: URL + "api/ClassesApi/GetClassById",
            data: { "ClassId": ClassesId },
            type: "GET",
            cache: false,
            success: function (r) {
                $('#btnEdit').show();
                $('#btnSave').hide();
                $("#txtClassesId").val(r[0].ClassId);
                $("#txtClasses").val(r[0].ClassName);
            },
            error: function (err) {
                $("#dvErrorStatus").css({ display: "block" });
                $('#lblClasses').text(err.statusText);
            }
        })
    }

    function Save() {
        $("#lbl_status").text("");
        $("#lblClasses").text("");
        if ($("#txtClasses").val() != '') {
            var ClassesName = $("#txtClasses").val();
           
            var CreatedBy = UserId;
            if (ClassesName.match(/^[a-zA-Z ]*$/)) {
                $.ajax({
                    url: URL + "api/ClassesApi/SaveClass",
                    //is active
                    data: { "ClassName": $("#txtClasses").val(), "UserId": CreatedBy },
                    type: "GET",
                    cache: false,
                    success: function (r) {
                        if (r == "Class Name already exist") {
                            $("#dvErrorStatus").css({ display: "block" });
                            $("#lblClasses").text("Class Name Already Existed.");
                        }
                        else if (r == "Error") {
                            $("#dvErrorStatus").css({ display: "block" });
                            $('#lblClasses').text(r[0].ErrorMessage);
                        }
                        else {
                            Clear();
                            StatusMessage(2);
                        }
                    },
                    error: function (err) {
                        $("#dvErrorStatus").css({ display: "block" });
                        $('#lblClasses').text(err.statusText);
                    }
                });
            } else {

                $("#dvErrorStatus").css({ display: "block" });
                $("#lblClasses").text("Please Enter Valid Class Name");
            }


        } else {
           if ($("#txtClasses").val() == '') {
                $("#dvErrorStatus").css({ display: "block" });
                $("#lblClasses").text("Please Enter Class Name");
                $("#txtClasses").focus();
            }
        }
    }
    function Clear() {
        $("#txtClassesId").val("");
        $("#txtClasses").val("");
        $("#txtPostCode").val("");
        $("#ddlCity").val("0");
        $("#lbl_status").text("");
        $("#lblClasses").text(" ");
        $('#btnEdit').hide();
        $('#btnSave').show();
        $("#dvSuccess").css({ display: "none" });
        $("#dvErrorStatus").css({ display: "none" });
    }



    function Update() {
        $("#lbl_status").text("");
        if ($("#txtClasses").val() != '') {
            var ClassesName = $("#txtClasses").val();
            var UpdatedBy = UserId;
            if (ClassesName.match(/^[a-zA-Z ]*$/)) {
                $.ajax({
                    url: URL + "api/ClassesApi/UpdateClass",
                    data: { "ClassName": $("#txtClasses").val(),"UserId": UpdatedBy, "ClassId": $("#txtClassesId").val() },
                    cache: false,
                    type: "GET",
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    cache: false,
                    success: function (r) {
                        if (r == "Class Name already exist") {
                            $("#dvErrorStatus").css({ display: "block" });
                            $("#lblClasses").text("Class Name Already Existed.");
                        }
                        else if (r == "Error") {
                            $("#dvErrorStatus").css({ display: "block" });
                            $('#lblClasses').text(r[0].ErrorMessage);
                        }
                        else {
                            Clear();
                            StatusMessage(1);
                        }
                    },
                    error: function (err) {
                        $("#dvErrorStatus").css({ display: "block" });
                        $('#lblClasses').text(err.statusText);
                    }
                });
            } else {
                if (!ClassesName.match(/^[a-zA-Z ]*$/)) {
                    $("#dvErrorStatus").css({ display: "block" });
                    $("#lblClasses").text("Please Enter Valid Classes Name");
                }
                else {
                    $("#dvErrorStatus").css({ display: "block" });
                    $("#lblClasses").text("Please Enter Valid Post Code ");
                }
            }
        }
        else {
            if ($("#txtClasses").val() == '') {
                $("#dvErrorStatus").css({ display: "block" });
                $("#lblClasses").text("Please Enter Classes Name");

                $("#txtClasses").focus();
            }
            else {
                $("#dvErrorStatus").css({ display: "block" });

                $("#lblClasses").text("Please Select City Name");
                $("#ddlCity").focus();
            }

        }
    }

    function StatusMessage(value) {
        localStorage.setItem("ClassesMessage", value);
        window.location.href = '@Url.Action("ClassesList", "Salon")';
    }
</script>