
@{
    ViewBag.Title = "CleanUpTimeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Cleanup Time
    </h1>
    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Masters</a></li>
        <li class="active">Cleanup  Time</li>
    </ol>
    @* <script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div id="dvErrorStatus" style="display:none" class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                        <label id="lblCleanUpTime"></label>
                    </div>
                    <div id="dvSuccess" style="display:none" class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <label id="lbl_status"></label>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <input type="button" class="btn btn-primary" value="Add Cleanup Time" onclick="window.location.href = '@Url.Action("CleanUpTime", "Salon")';" style="text-align:left" />

                    <input type="submit" class="btn btn-danger" id="btnBack" value="Back" style="width:100px;float:right;" onclick="window.location.href = '@Url.Action("Dashboard", "Salon")';" />
                </div>
                <div class="box-body table-responsive">
                    <table id="tblCleanUpTime" style="width: 100%" class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>

                                <th>Cleanup Time</th>
                                @* <th>IsActive</th>*@

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tblCleanUpTimeBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>
<script type="text/javascript">

    var UserId = localStorage.getItem("UserId");
    var RoleId = localStorage.getItem("RoleId");

    window.onload = function () {
        // GetAll();
        localStorage.setItem("EditCleanUpTimeId", "null");

        //if (UserId != "null" && RoleId == "1") {
        var Message = localStorage.getItem("CleanUpTimeMessage");
        if (Message == "1") {
            //  $("#dvErrorStatus").css({ display: "none" });
            // $("#dvSuccess").css({ display: "block" });
            //  $("#lbl_status").text("CleanUpTime Updated Successfully");
            $("#myModal3").css('display', "block");
            $("#lblupdated").text("Cleanup Time Updated Successfully");
            GetAll();
        }
        else if (Message == "2") {
            // $("#dvErrorStatus").css({ display: "none" });
            //  $("#dvSuccess").css({ display: "block" });
            // $("#lbl_status").text("CleanUpTime Created Successfully");
            $("#myModal3").css('display', "block");
            $("#lblupdated").text("Cleanup Time Created Successfully");
            GetAll();
        }
        else {
            $("#dvErrorStatus").css({ display: "none" });
            $("#dvSuccess").css({ display: "none" });
            GetAll();
        }
        @*}
        else {
            window.location.href = '@Url.Action("LockScreen", "Salon")';
        }*@
    }


    function GetAll() {

        localStorage.setItem("CleanUpTimeMessage", "null");
        $('#tblCleanUpTimeBody').text('');
        $('#btnEdit').hide();
        $('#btnSave').show();
        $.ajax({
            type: 'GET',
            url: URLLink + "api/CleanUpTime/GetData",
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            cache: false,
            xhrFields: {
                withCredentials: false
            },
            success: function (json) {

                if (json[0].Message == "Error") {
                    $('#tblCleanUpTime').hide();
                    $("#dvSuccess").css({ display: "none" });
                    $("#dvErrorStatus").css({ display: "block" });
                    $('#lblCleanUpTime').text("Error");

                }
                else if (json[0].Message == "NoData") {
                    $('#tblCleanUpTime').hide();
                    $("#dvSuccess").css({ display: "none" });
                    $("#dvErrorStatus").css({ display: "block" });
                    $('#lblCleanUpTime').text("No Data");
                }

                else if (json[0].Message == "Success") {
                    $('#tblCleanUpTime').show();
                    if ($.fn.dataTable.isDataTable('#tblCleanUpTime')) {
                        $('#tblCleanUpTime').DataTable().destroy();
                    }
                    $('#tblCleanUpTimeBody').empty();
                    for (var i = 0; i < json.length; i++) {

                        tr = $('<tr/>');

                        tr.append("<td>" + json[i].CleanUpTime + "</td>");

                        if (json[i].IsActive == 1) {
                            //  tr.append("<td>" + "Active" + "</td>");
                            tr.append("<td><a href='#' id='delete" + i + "'  title='Deactivate' onclick='UpdateStatus(" + json[i].CleanUpTimeId + " ,0)'><i class='fa fa-check nav_action_icon'></i> </a> | <a href='#' id='edit" + i + "' onclick='Edit(" + json[i].CleanUpTimeId + ")' ><i class='fa fa-pencil'></i> </a></td>");
                        }
                        else if (json[i].IsActive == 0) {

                            tr.append("<td><a href='#' id='delete" + i + "'  title='Activate' onclick='UpdateStatus(" + json[i].CleanUpTimeId + ",1)'><i class='fa fa-ban nav_action_icon'></i> </a> | <a href='#' id='edit" + i + "' onclick='Edit(" + json[i].CleanUpTimeId + ")' ><i class='fa fa-pencil'></i> </a></td>");
                        }

                        $('#tblCleanUpTime').append(tr);
                    }
                    $('#tblCleanUpTime').DataTable({

                        bsort: false,
                        dom: 'Bfrtip',
                        buttons: [
                             'excel', 'pdf'
                        ],
                        select: true
                    });
                }
            },
            error: function (err) {
                $("#dvSuccess").css({ display: "none" });
                $("#dvErrorStatus").css({ display: "block" });
                $('#lblCleanUpTime').text(err.StatusText);
            }
        });
    }
    //local
    function Edit(CleanUpTimeId) {
        localStorage.setItem("EditCleanUpTimeId", CleanUpTimeId);
        window.location.href = '@Url.Action("CleanUpTime", "Salon")';
    }


    function UpdateStatus(CleanUpTimeId, IsActive) {
        $("#lbl_status").text("");
        var UserId = localStorage.getItem("UserId");
        var StatusText = '';
        var UpdateStatusText = '';
        if (IsActive == 1) {
            StatusText = "active";
            UpdateStatusText = "activated";
        }
        else if (IsActive == 0) {
            StatusText = "deactive";
            UpdateStatusText = "deactivated";
        }
        if (confirm("Are you sure to  " + StatusText + " this Cleanup Time?") == true) {
            $.ajax({
                url: URLLink + "api/CleanUpTime/UpdateStatus",
                data: { "Status": IsActive, "UpdatedBy": UserId, "CleanUpTimeId": CleanUpTimeId },
                // UpdateStatus(int Status, int UpdatedBy, int DepartmentId)
                type: "GET",
                cache: false,
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (r) {

                    if (r[0].Message == "REFERENCE") {
                        $("#dvSuccess").css({ display: "none" });
                        $("#dvErrorStatus").css({ display: "block" });
                        $("#lblCleanUpTime").text("Sorry! Can't Delete This Record. It Is Existed In Another Table");
                    }
                    else if (r[0].Message == "Error") {
                        $('#tblCleanUpTime').hide();
                        $("#dvErrorStatus").css({ display: "block" });
                        $('#lblCleanUpTime').text(r[0].ErrorMessage);
                    }
                    else if (r[0].Message = "Success") {
                        GetAll();
                        $("#dvErrorStatus").css({ display: "none" });
                        $("#dvSuccess").css({ display: "block" });
                        $("#lbl_status").text("Cleanup Time " + UpdateStatusText + " Successfully");
                    }
                },
                error: function (err) {
                    // alert(err.StatusText);
                }
            });
        }
        else {

        }
    }

    ///////////////////////////

</script>

