
@{
    ViewBag.Title = "emailTemplateTypesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        EmailTemplateType
    </h1>
    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Email</a></li>
        <li class="active">EmailTemplateType</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div id="dvErrorStatus" style="display:none" class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                        <label id="lblemailTemplateTypes"></label>
                    </div>
                    <div id="dvSuccess" style="display:none" class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <label id="lbl_status"></label>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <input type="button" class="btn btn-primary" value="Add Email Template" onclick="window.location.href = '@Url.Action("emailTemplateTypes", "Salon")';" style="text-align:left" />
                </div>
                <div class="box-body table-responsive">
                    <table id="tblemailTemplateTypes" style="width: 100%" class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>

                                <th>EmailTemplate Name</th>
                                <th>Template Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tblemailTemplateTypesBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>
<script type="text/javascript">
    var URL = "@System.Configuration.ConfigurationManager.AppSettings["URL"]";
    var UserId = localStorage.getItem("UserId");
    var RoleId = localStorage.getItem("RoleId");

    window.onload = function () {
       // GetAll();
        localStorage.setItem("EditTemplateId", "null");

        //if (UserId != "null" && RoleId == "1") {
        var Message = localStorage.getItem("emailTemplateTypesMessage");
        if (Message == "1") {
            $("#dvErrorStatus").css({ display: "none" });
            $("#dvSuccess").css({ display: "block" });
            $("#lbl_status").text("Email Template Type Updated Successfully");
            GetAll();
        }
        else if (Message == "2") {
            $("#dvErrorStatus").css({ display: "none" });
            $("#dvSuccess").css({ display: "block" });
            $("#lbl_status").text("Email Template Type Created Successfully");
            GetAll();
        }
        else {
            $("#dvErrorStatus").css({ display: "none" });
            $("#dvSuccess").css({ display: "none" });
            GetAll();
        }
        @*}
        else {
            window.location.href = '@Url.Action("LockScreen", "Salon")';
        }*@
    }


    function GetAll() {

        localStorage.setItem("emailTemplateTypesMessage", "null");
        $('#tblemailTemplateTypesBody').text('');
        $('#btnEdit').hide();
        $('#btnSave').show();
        $.ajax({
            type: 'GET',
            url: URL + "api/emailTemplateTypes/Getdata",
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            cache:false,
            xhrFields: {
                withCredentials: false
            },
            success: function (json) {

                if (json[0].Message == "Error") {
                    $('#tblemailTemplateTypes').hide();
                    $("#dvSuccess").css({ display: "none" });
                    $("#dvErrorStatus").css({ display: "block" });
                    $('#lblemailTemplateTypes').text("Error");

                }
                else if (json[0].Message == "NoData") {
                    $('#tblemailTemplateTypes').hide();
                    $("#dvSuccess").css({ display: "none" });
                    $("#dvErrorStatus").css({ display: "block" });
                    $('#lblemailTemplateTypes').text("NoData");
                }

                else if (json[0].Message == "Success") {
                    $('#tblemailTemplateTypes').show();
                    if ($.fn.dataTable.isDataTable('#tblemailTemplateTypes')) {
                        $('#tblemailTemplateTypes').DataTable().destroy();
                    }
                    $('#tblemailTemplateTypesBody').empty();
                    for (var i = 0; i < json.length; i++) {

                        tr = $('<tr/>');

                        tr.append("<td>" + json[i].TemplateName + "</td>");
                        tr.append("<td>" + json[i].TemplateType + "</td>");
                        if (json[i].IsActive == 1) {
                          //  tr.append("<td>" + "Active" + "</td>");
                            tr.append("<td><a href='#' id='delete" + i + "'  onclick='UpdateStatus(" + json[i].TemplateId + " ,0)'><i class='fa fa-check nav_action_icon'></i> </a> | <a href='#' id='edit" + i + "' onclick='Edit(" + json[i].TemplateId + ")' ><i class='fa fa-pencil'></i> </a></td>");
                        }
                        else if (json[i].IsActive == 0) {

                            tr.append("<td><a href='#' id='delete" + i + "'  onclick='UpdateStatus(" + json[i].TemplateId + ",1)'><i class='fa fa-ban nav_action_icon'></i> </a> | <a href='#' id='edit" + i + "' onclick='Edit(" + json[i].TemplateId + ")' ><i class='fa fa-pencil'></i> </a></td>");
                        }

                        $('#tblemailTemplateTypes').append(tr);
                    }
                    $('#tblemailTemplateTypes').DataTable({
                        select: {
                            style: 'multi'
                        },
                        dom: 'Bfrtip',
                        buttons: [
                            'copyFlash',
                            'csvFlash',
                            'excelFlash',
                            'pdfFlash'
                        ],
                        select: true
                    });
                }
            },
            error: function (err) {
                $("#dvSuccess").css({ display: "none" });
                $("#dvErrorStatus").css({ display: "block" });
                $('#lblemailTemplateTypes').text(err.StatusText);
            }
        });
    }
    //local
    function Edit(TemplateId) {
        localStorage.setItem("EditTemplateId", TemplateId);
        window.location.href = '@Url.Action("emailTemplateTypes", "Salon")';
    }


    function UpdateStatus(TemplateId, IsActive) {
        $("#lbl_status").text("");
        var UserId = localStorage.getItem("UserId");
        var StatusText = '';
        var UpdateStatusText = '';
        if (IsActive == 1) {
            StatusText = "Active";
            UpdateStatusText = "Activated";
        }
        else if (IsActive == 0) {
            StatusText = "DeActive";
            UpdateStatusText = "DeActivated";
        }
        if (confirm("Are you Sure to  " + StatusText + " this emailTemplateTypes?") == true) {
            $.ajax({
                url: URL + "api/emailTemplateTypes/UpdateStatus",
                data: { "Status": IsActive, "UpdatedBy": UserId, "TemplateId": TemplateId },
                // UpdateStatus(int Status, int UpdatedBy, int DepartmentId)
                type: "GET",
                cache: false,
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (r) {

                    if (r[0].Message == "REFERENCE") {
                        $("#dvSuccess").css({ display: "none" });
                        $("#dvErrorStatus").css({ display: "block" });
                        $("#lblemailTemplateTypes").text("Sorry! Can't Delete This Record. It Is Existed In Another Table");
                    }
                    else if (r[0].Message == "Error") {
                        $('#tblemailTemplateTypes').hide();
                        $("#dvErrorStatus").css({ display: "block" });
                        $('#lblemailTemplateTypes').text(r[0].ErrorMessage);
                    }
                    else if (r[0].Message = "Success") {
                        GetAll();
                        $("#dvErrorStatus").css({ display: "none" });
                        $("#dvSuccess").css({ display: "block" });
                        $("#lbl_status").text("emailTemplateTypes " + UpdateStatusText + " Successfully");
                    }
                },
                error: function (err) {
                    alert(err.StatusText);
                }
            });
        }
        else {

        }
    }

///////////////////////////

    function Delete(TemplateId) {
        $("#lbl_status").text("");
        if (confirm("Are you Sure to delete this emailTemplateTypes?") == true) {

            $.ajax({
                url: URL + "api/emailTemplateTypes/Delete",
                data: { "TemplateId": TemplateId },
                type: "GET",
                cache: false,
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (r) {
                    $("#lblemailTemplateTypes").text(" ");
                    $("#txtTemplateId").val("");
                    $("#txtemailTemplateTypes").val("");
                    $("#tblemailTemplateTypes").text("");
                    GetAll();
                    if (r[0].Message == "REFERENCE") {
                        $("#dvSuccess").css({ display: "none" });
                        $("#dvErrorStatus").css({ display: "block" });
                        $("#lblemailTemplateTypes").text("Sorry! Can't Delete This Record. It Is Existed In Another Table");
                    }
                    else if (r[0].Message == "Error") {
                        $('#tblemailTemplateTypes').hide();
                        $("#dvErrorStatus").css({ display: "block" });
                        $('#lblemailTemplateTypes').text(r[0].ErrorMessage);
                    }
                    else if (r[0].Message = "Success") {
                        $("#dvErrorStatus").css({ display: "none" });
                        $("#dvSuccess").css({ display: "block" });
                        $("#lbl_status").text("emailTemplateTypes Deleted Successfully");
                    }
                },
                error: function (err) {
                    $("#dvErrorStatus").css({ display: "block" });
                    $('#lblemailTemplateTypes').text(err.StatusText);
                }
            });
        } else {

        }
    }
</script>
