
@{

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <title>Login</title>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- bootstrap 3.0.2 -->

    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- font Awesome -->
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->

    <link href="~/bootstrap/css/AdminLTE.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
        .logo-main {
            width: 90px;
            display: block;
            margin: 0 auto;
        }

        .box-login {
            border: 1px solid #ccc;
            padding: 10px;
            width: 100%;
            background: #fff;
        }

        .form-box .header {
            background: #fff;
            color: #7d7d7d;
            box-shadow: none;
        }

        .form-box {
            width: 420px;
        }

            .form-box .body > .form-group > input, .form-box .footer > .form-group > input {
                border: 1px solid #808080;
            }

            .form-box .btn-group {
                width: 150px;
                margin: 0 auto;
                display: block;
            }

                .form-box .btn-group button.btn {
                    border-radius: 0px;
                    -webkit-border-radius: 0px;
                    -moz-border-radius: 0px;
                    margin: 0px 2px;
                }

        .input-icon {
            width: 100%;
            display: block;
            float: left;
            position: relative;
        }

            .input-icon i.glyphicon {
                position: absolute;
                top: 10px;
                left: 5px;
            }

            .input-icon .form-control {
                width: 100%;
                padding-left: 25px;
            }

        .modal-backdrop.in {
            opacity: 0 !important;
        }

        .modal-backdrop {
            position: relative !important;
        }
    </style>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body style="background:#fff;height:100vh;">
    <div class="col-md-12">

        <div class="form-box" id="login-box">
            <div class="box-login">
                <div class="header">
                    @*<img class="logo-main" src="~/img/logomain.png" />*@
                    <h2 class="text-center">Salon Admin  </h2>
                    Sign In
                </div>
                <div class="body">
                    <div class="form-group">
                        <div class="input-icon">
                            <i class="glyphicon glyphicon-user"></i>
                            <input type="text" name="txtUserName" id="txtUserName" class="form-control" placeholder="Enter Username" />
                        </div>
                        <label id="lblUserName"></label>
                    </div>
                    <div class="form-group">
                        <div class="input-icon">
                            <i class="glyphicon glyphicon-lock"></i>
                            <input type="password" name="txtPassword" id="txtPassword" class="form-control" placeholder="Enter Password" />
                        </div>
                        <label id="lblPassword"></label>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#modal-forgot_password" style="margin-top:-29px" class="pull-right">Forgot Password?</a>






                </div>
                <div class="footer">
                    <div class="btn-group" style="width: 213px;margin-bottom:10px; ">
                        <button onclick="Login()" id="btnSignin" type="submit" class="btn btn-success">Sign  in</button>
                        <button onclick="location.href='http://Salon.developerscode.in/'" id="btnBack" type="submit" style="width:86px;margin-left:16px" class="btn btn-danger">Back</button>
                        <label id="lbl_status"></label>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="preloader" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #fefefe; z-index: 99; height: 110vh;">
        <div id="status" style="width:100%;height:100%; text-align: center; position: absolute; left: 0; top: 30%; background-repeat: no-repeat; background-size: cover cover; background-position: center; margin: 0px 0 0 36px;">
            <div class="preloader-logo"></div>
            <p class="center-text smaller-text" id="p1" style="margin: 0 24px 10px !important;">
                <h2> Processing .. </h2><br />
                <img src="~/img/preload.gif" />
            </p>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Template Preview</h4>
                </div>
                <div class="modal-body">
                    <div id="lblText"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal" id="modal-forgot_password" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Forgot Password</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding:5px">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                Enter Your Email : <label style="color:red">*</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="txtForgotPassword" class="form-control" />
                                <br />
                                <span style="color:red" id="lblError"></span>
                                <label id="lblMailStatus" style="color:green;"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span style="float:left;" id="lblSuccessShift"></span>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="ForgotPassword()">submit</button>
                    <br />
                    
                </div>
            </div>
        </div>
    </div>

    @*<div id="modal-forgot_password" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Reset password</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            <div class="form-group">
                                <input type="text" id="txtForgotPassword" class="form-control" />
                                <span style="color:red" id="lblError"></span>
                            </div>
                            <div class="form-group">
                                <input type="button" class="btn btn-success btn-block btn-lg" onclick="ForgotPassword()" value="Submit">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw margin-bottom loading" style="display: none;"></i>
                    </div>
                </div>
            </div>
        </div>*@














    <script type="text/javascript">
        var URL = "@System.Configuration.ConfigurationManager.AppSettings["URL"]";
        var WebURL = [location.protocol, '//', location.host].join('') + '/';

        //$('#back').attr("href", Frontend);
        $(document).ready(function () {

        })

        $("#txtPassword").keyup(function (event) {
            if (event.keyCode == 13) {
                $("#btnSignin").click();
            }
        });
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'), sParameterName, i;
            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            };
        }
        var UserName = getUrlParameter('UserName');
        var Password = getUrlParameter('Password');

        if (UserName != '')
            $("#txtUserName").val(UserName);
        if (Password != '')
            $("#txtPassword").val(Password);

        if (UserName != '' && UserName != undefined && Password != '' && Password != undefined) {
            $('#preloader').show();
            Login();
        }
        else {
            $('#preloader').hide();
        }



        function ForgotPassword() {

            if ($("#txtForgotPassword").val() != '') {
                // $('#preloader').show();
                $.ajax({
                    url: URL + "api/Users/ForgotPassword",
                    data: { "Email": $("#txtForgotPassword").val() },
                    type: "GET",
                    cache: false,
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    success: function (r) {
                        $("#lblError").text("");
                        if (r[0].Message == "No Data") {
                            $("#lblError").text("Please Enter Valid EmailId");
                        }
                        else if (r[0].Message == "Success") {

                            var Password = r[0].Password
                            var Name = r[0].Name

                            var email = $("#txtForgotPassword").val();
                            email = email.replace("@@", "!123");
                            email = email.replace(".com", "567");
                            email = email.replace("mail", "liam");

                            var uri = WebURL + "Salon/ForgotPassword?name=$2a ^* c 1c o1 u$ n t$ 3i n 324g&url=u r 23l r e s e t p a  s s w o r d &liamdmc=" + email + "&url=u r l r e s e t";
                            var res = encodeURI(uri);


                            var Content = " Salon  :<br/><br/> UserId : " + $('#txtForgotPassword').val() + "  <br/>" + "" + "<a href='" + uri + "'>Please Click Here to change Password</a>";

                            $.ajax({
                                url: URL + "api/emailTemplateTypes/SendEmail",
                                data: { "Email": $('#txtForgotPassword').val(), "Mobile": '1234567890', "TemplateTypeId": 9, "Content": Content, "Name": Name },
                                type: "GET",
                                cache: false,
                                dataType: 'json',
                                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                                success: function (r) {
                                    $('#txtForgotPassword').val("");
                                    $('#lblMailStatus').text("Reset password link sent to your mail please check.");
                                    localStorage.setItem("UserEmailId", $('#txtForgotPassword').val());
                                    //  $('#preloader').hide();
                                    //  localStorage.setItem("EmailSuccess", 1);
                                    // window.location.href = '@Url.Action("Login","Salon")';
                                }
                            });

                        }
                    }
                });
            }
            else {
                $("#lblError").text("Please Enter  EmailId");
            }
        }


        function Login() {
            $("#lblUserName").text(' ');
            $("#lblPassword").text(" ");
            if ($("#txtUserName").val() != "" && $("#txtPassword").val() != "") {

                $('#preloader').show();
                $("#btnSignin").attr("disabled", "disabled");
                $.ajax({
                    type: 'GET',
                    url: URL + "api/Users/Verify_Login?UserName=" + $("#txtUserName").val() + "&Password=" + $("#txtPassword").val() + "",
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    xhrFields: {
                        withCredentials: false
                    },
                    success: function (data) {
                        console.log(data);
                        if (data[0].Message == "Success") {

                            var Name = data[0].EmployeeName;
                            var UserId = data[0].UserId;
                            localStorage.setItem("UserName", data[0].UserName);
                            localStorage.setItem("UserId", data[0].UserId);
                            localStorage.setItem("Password", data[0].Password);
                            localStorage.setItem("RoleId", data[0].RoleId);
                            localStorage.setItem("NewName", data[0].Name);

                            localStorage.setItem("RoleName", data[0].RoleName);
                            if (data[0].RoleName.toLowerCase() == 'admin' || data[0].RoleName.toLowerCase() == 'salons') {
                                window.location.href = WebURL + "Salon/" + data[0].StartPage;
                            }
                            else {
                                $('#preloader').hide();
                                $("#btnSignin").attr("disabled", false)
                                $("#lbl_status").text("Invalid Credentials..")
                                $("#lbl_status").css("color", "red");
                            }
                        }
                        else {
                            $('#preloader').hide();
                            $("#btnSignin").attr("disabled", false)
                            $("#lbl_status").text("Invalid Credentials..")
                            $("#lbl_status").css("color", "red");
                        }
                    },
                    error: function (err) {
                        console.log(err.StatusText);
                    }
                });
            }
            else {
                if ($("#txtUserName").val() == "") {
                    $("#lblUserName").text("Please Enter UserName")
                    $("#lblUserName").css("color", "red");
                }
                else if ($("#txtPassword").val() == "") {
                    $("#lblPassword").text("Please Enter Password")
                    $("#lblPassword").css("color", "red");
                }
            }
        }
    </script>

</body>
</html>
