
@{
     ViewBag.Title = "Role";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <section class="content-header">
        <h1>
            Roles
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">User Management</a></li>
            <li class="active">Create Role</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <div id="dvErrorStatus" style="display:none" class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <label id="lblRole"></label>
                        </div>
                        <div id="dvSuccess" style="display:none" class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <label id="lbl_status"></label>
                        </div>
                    </div>
                    <div class="box-body table-responsive">
                        <table style="width: 100%" class="table table-bordered table-hover dataTable">
                            <tr><td colspan="4"><label style="color:red;margin-left: 1%;">* indicates fields are required</label></td></tr>
                            <tr>
                                @*<td>
                                    Department Name:<label style="color:red;margin-left: 1%;">*</label>
                                </td>
                                <td>
                                    <select id="ddlDepartment" class="form-control select2">
                                        <option value="0">--Select Department--</option>
                                    </select>
                                </td>*@
                                <td>
                                    Role Name:<label style="color:red;margin-left: 1%;">*</label>
                                </td>
                                <td>
                                    <input type="text" maxlength="40" placeholder="Enter Name" id="txtRole" name="txtRole" title="Enter Alphabets only"  class="form-control" required />
                                </td>
                            
                            </tr>
                            <tr>
                                <td colspan="4" style="text-align:right">
                                    <input type="button" class="btn btn-primary" id="btnSave" value="Save" style="width:100px;" onclick="Save()" />
                                    <input type="button" class="btn btn-primary" id="btnEdit" value="Update" style="width:100px;" onclick="Update()" />
                                    @*<input type="button" class="btn btn-danger" id="btnReset" value="Reset" onclick="Clear()" style="width:100px;" />*@
                                    <input type="button" class="btn btn-danger" id="btnBack" value="Back" onclick="window.location.href = '@Url.Action("RolesList", "Salon")';" style="width:100px;" />
                                    <input type="text" hidden="hidden" id="txtRoleId" name="RoleId" />
                                </td>
                            </tr>
                        </table>
                        <label id="lbl_status"></label>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <script type="text/javascript">

          var URL = "@System.Configuration.ConfigurationManager.AppSettings["URL"]";
        var UserId = localStorage.getItem("UserId");
        var RoleId = localStorage.getItem("RoleId");

        var EditRoleId = localStorage.getItem("EditRoleId");

        window.onload = function () {
            if (UserId != "null" || UserId != null && RoleId == "1") {
             
                    if (EditRoleId == "null") {
                        $('#btnEdit').hide();
                        $('#btnSave').show();
                    }
                    else {
                        BindRole(EditRoleId);
                        $('#btnEdit').show();
                        $('#btnSave').hide();
                        $('#btnReset').hide();
                    }
                
            }
            else {
                window.location.href = '@Url.Action("Logout", "Salon")';
            }
        }

        ////Departments Load
        //function Departments() {
        //    $.ajax({
        //        type: 'GET',
        //        url: URL + "api/Departments/Get_Departments",
        //        contentType: 'application/x-www-form-urlencoded; charset=utf-8',
        //        xhrFields: {
        //            withCredentials: false
        //        },
        //        success: function (data) {
        //            for (var i = 0; i < data.length; i++) {
        //                var opt = new Option(data[i].DepartmentName, data[i].DepartmentId);
        //                $("#ddlDepartment").val("");
        //                $('#ddlDepartment').append(opt);
        //            }
        //            if (EditRoleId == "null") {
        //                    $('#btnEdit').hide();
        //                    $('#btnSave').show();
        //                }
        //                else {
        //                BindRole(EditRoleId);
        //                    $('#btnEdit').show();
        //                    $('#btnSave').hide();
        //                    $('#btnReset').hide();
        //                }
        //        },
        //        error: function (err) {
        //            console.log(err.StatusText);
        //        }
        //    });
        //}
        
        function BindRole(EditRoleId) {
            $("#lbl_status").text("");
            Clear();
           
            $.ajax({
                url: URL + "api/Role/Get_Role_ById?RoleId=" + EditRoleId,
                type: "GET",
                cache: false,
                success: function (r) {
                    $('#btnEdit').show();
                    $('#btnSave').hide();
                    console.log(r);
                    $("#txtRoleId").val(EditRoleId);
                   
                    $("#txtRole").val(r[0].RoleName);
                },
                error: function (err) {
                    $("#dvErrorStatus").css({ display: "block" });
                    $('#lblRole').text(err.statusText);
                }
            })
        }

        function Save() {
            $("#lbl_status").text("");
            if ($("#txtRole").val() != ''  ) {
                var RoleName = $("#txtRole").val();
                var CreatedBy = UserId;
                if (RoleName.match(/^[a-zA-Z ]*$/)) {
                    $.ajax({
                        url: URL + "api/Role/Insert_Role?RoleName=" + RoleName + "&CreatedBy=" + CreatedBy + "",
                        type: "GET",
                        cache: false,
                        success: function (r) {
                            if (r[0].Message == "UniqueConstraint") {
                                $("#dvErrorStatus").css({ display: "block" });
                                $("#lblRole").text("Role Name Already Existed.");
                            }
                            else if (r[0].Message == "Error") {
                                $("#dvErrorStatus").css({ display: "block" });
                                $('#lblRole').text(r[0].ErrorMessage);
                            }
                            else
                            {
                                Clear();
                                StatusMessage(2);
                            }
                        },
                        error: function (err) {
                            $("#dvErrorStatus").css({ display: "block" });
                            $('#lblRole').text(err.statusText);
                        }
                    });
                } else {
                    $("#dvErrorStatus").css({ display: "block" });
                    $("#lblRole").text("Please Enter Valid Role Name");
                }
            } else {
                $("#dvErrorStatus").css({ display: "block" });
                $("#lblRole").text("Please Enter Role Name");
                $("#txtRole").focus();
            }
        }


        function Clear() {
            $("#txtRoleId").val("");
            $("#txtRole").val("");
            $("#lbl_status").text("");
            $("#lblRole").text(" ");
            $('#btnEdit').hide();
            $('#btnSave').show();
            $("#dvSuccess").css({ display: "none" });
            $("#dvErrorStatus").css({ display: "none" });
        }

        

        function Update() {
            $("#lbl_status").text("");
            if ($("#txtRole").val() != '') {
                var Role = $("#txtRole").val();
                var UpdatedBy = UserId;
                if (Role.match(/^[a-zA-Z ]*$/)) {
                    $.ajax({
                        url: URL + "api/Role/Update_Role?RoleName=" + Role + "&UpdatedBy=" + UpdatedBy + "&RoleId=" + $("#txtRoleId").val() + "",
                        type: "GET",
                        dataType: 'json',
                        contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                        cache: false,
                        success: function (r) {
                            if (r[0].Message == "UniqueConstraint") {
                                $("#dvErrorStatus").css({ display: "block" });
                                $("#lblRole").text("Role Name Already Existed.");
                            }
                            else if (r[0].Message == "Error") {
                                $("#dvErrorStatus").css({ display: "block" });
                                $('#lblRole').text(r[0].ErrorMessage);
                            }
                            else {
                                Clear();
                                StatusMessage(1);
                            }
                        },
                        error: function (err) {
                            $("#dvErrorStatus").css({ display: "block" });
                            $('#lblRole').text(err.statusText);
                        }
                    });
                } else {
                    $("#dvErrorStatus").css({ display: "block" });
                    $("#lblRole").text("Please Enter Valid Role Name");
                }
            }
            else {
                $("#lblRole").text("Please Enter Role.");
                $("#lblRole").css("color", "Red");
            }
        }

        function StatusMessage(value) {
            localStorage.setItem("RoleMessage", value);
            window.location.href = '@Url.Action("RolesList", "Salon")';
        }
    </script>
</body>

