
@{
    ViewBag.Title = "SalonReviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/dist/css/jquery.rateyo.min.css" rel="stylesheet" />
<script src="~/dist/js/jquery.rateyo.js"></script>
<section class="content-header">
    <h1>
        Salon Reviews
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Salon Reviews</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div id="dvErrorStatus" style="display:none" class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                        <label id="lblVoucherType"></label>
                    </div>
                    <div id="dvSuccess" style="display:none" class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <label id="lbl_status"></label>
                    </div>
                </div>
                <div class="box-body table-responsive">

                    <input type="submit" class="btn btn-danger" id="btnBack" value="Back" style="width:100px;float:right;" onclick="window.location.href = '@Url.Action("Dashboard", "Salon")';" />
                </div>
                <div class="box-body table-responsive">
                    <table id="tblBillings" style="width: 100%" class="table table-bordered table-hover dataTable">

                        <thead>
                            <tr>
                                <th>Salon Name</th>
                                <th>Average Rating</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tblBillingsBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">

    var UserId = localStorage.getItem("UserId");
    var RoleId = localStorage.getItem("RoleId");
    window.onload = function () {
        // ratings();
        GetAll();
    }
    function GetAll() {
        $.ajax({
            type: 'GET',
            url: URLLink + "api/SalonReviews/GetSalonReviews",
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            cache: false,
            xhrFields: {
                withCredentials: false
            },
            success: function (json) {

                if (json[0].Message == "Error") {
                    $('#tblBillings').hide();
                    $("#dvSuccess").css({ display: "none" });
                    $("#dvErrorStatus").css({ display: "block" });
                    $('#lblBillings').text("Error");
                }
                else if (json[0].Message == "NoData") {
                    $('#tblBillings').hide();
                    $("#dvSuccess").css({ display: "none" });
                    $("#dvErrorStatus").css({ display: "block" });
                    // $('#lblBillings').text("No Data");
                }

                else if (json[0].Message == "Success") {
                    $('#tblBillings').show();
                    if ($.fn.dataTable.isDataTable('#tblBillings')) {
                        $('#tblBillings').DataTable().destroy();
                    }
                    $('#tblBillingsBody').empty();
                    for (var i = 0; i < json.length; i++) {
                        // $("#NameandMail").val(json[i].Email);
                        // alert(json[i].Email);
                        //  $('#txtservicename').val(json[i].TreatmentTitle);
                        tr = $('<tr/>');
                        //tr.append("<td>" + json[i].SalonReviewsId + "</td>");
                        tr.append("<td>" + json[i].BusinessName + "</td>");
                        var data = '';
                        data += '<div class="col-md-6 ">'
                        data += '<i style="top:10px;margin-left:-7px"></i>'
                        data += '<div class="caption jq-ry-container" style="margin-top:-14px;">'
                        data += '<div class="caption rateYo" readonly id="salonrating' + json[i].SalonsId + '">'
                        data += '</div>'
                        data += '</div>'
                        data += '</div>'
                        tr.append("<td>" + data + "</td>");
                        tr.append("<td> <a href='#' title='view' onclick='ViewReviews(" + json[i].SalonsId + ")' ><i class='fa fa-eye nav_action_icon'></i> </a></td>");
                        $('#tblBillings').append(tr);
                        ratings(json[i].OverallSatisfaction, json[i].SalonsId);
                    }
                    $('#tblBillings').DataTable({

                        bsort: false,
                        dom: 'Bfrtip',
                        buttons: [
                             'excel', 'pdf'
                        ],
                        select: true
                    });
                }
            },
            error: function (err) {
                $("#dvSuccess").css({ display: "none" });
                $("#dvErrorStatus").css({ display: "none" });
                $('#tblSalonComment').text(err.StatusText);
            }
        });
    }

    function ViewReviews(SalonsId) {
        sessionStorage.setItem("CSalonsId", SalonsId);
        window.location.href = "/Salon/Reviews";
    }

    function UpdateStatus(SalonReviewsId, IsActive) {
        $("#lbl_status").text("");
        var UserId = localStorage.getItem("UserId");
        var StatusText = '';
        var UpdateStatusText = '';
        if (IsActive == 1) {
            StatusText = "active";
            UpdateStatusText = "activated";
        }
        else if (IsActive == 0) {
            StatusText = "deactivate";
            UpdateStatusText = "deactivated";
        }
        if (confirm("Are you sure to  " + StatusText + " this Review?") == true) {
            $.ajax({
                url: URLLink + "api/SalonReviews/UpdateStatus",
                data: { "IsActive": IsActive, "UpdatedBy": UserId, "SalonReviewsId": SalonReviewsId },
                // UpdateStatus(int Status, int UpdatedBy, int DepartmentId)
                type: "GET",
                cache: false,
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (r) {

                    if (r[0].Message == "REFERENCE") {
                        $("#dvSuccess").css({ display: "none" });
                        $("#dvErrorStatus").css({ display: "block" });
                        $("#lblMemberType").text("Sorry! Can't Delete This Record. It Is Existed In Another Table");
                    }
                    else if (r[0].Message == "Error") {
                        $('#tblMemberType').hide();
                        $("#dvErrorStatus").css({ display: "block" });
                        $('#lblMemberType').text(r[0].ErrorMessage);
                    }
                    else if (r[0].Message = "Success") {
                        GetAll();
                        $("#dvErrorStatus").css({ display: "none" });
                        $("#dvSuccess").css({ display: "block" });
                        $("#lbl_status").text("Review " + UpdateStatusText + " Successfully");

                    }
                },
                error: function (err) {
                    alert(err.StatusText);
                }
            });
        }
        else {

        }
    }

    function ratings(rate, id) {

        $("#salonrating" + id).rateYo({
            numStars: 5,
            starWidth: "20px",
            rating: rate
        });
        $("#rateYoAmbience").rateYo({
            // alert($("#rateYo").rateYo("rating"));
            numStars: 5,
            starWidth: "20px",
            rating: 3.6
        });
        $("#rateYoStaff").rateYo({
            // alert($("#rateYo").rateYo("rating"));
            numStars: 5,
            starWidth: "20px"
            // rating: 3.6
        });
        $("#rateYoCleanliness").rateYo({
            // alert($("#rateYo").rateYo("rating"));
            numStars: 5,
            starWidth: "20px"
            // rating: 3.6
        });
        $("#rateYoValue").rateYo({
            // alert($("#rateYo").rateYo("rating"));
            numStars: 5,
            starWidth: "20px"
            // rating: 3.6
        });

    }
</script>


