
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <link href='~/plugins/lib/fullcalendar.min.css' rel='stylesheet' />
    <link href='~/plugins/lib/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <script src="~/plugins/lib/moment.min.js"></script>
    <script src='~/plugins/lib/jquery.min.js'></script>
    <script src='~/plugins/lib/fullcalendar.min.js'></script>
    <script>

        $(document).ready(function () {

            var URL = "@System.Configuration.ConfigurationManager.AppSettings["URL"]";
            var UserId = localStorage.getItem("UserId");
            var titlearray = [];
            var eventids = [];
            var empid = [];
            var empname = [];

            $.ajax({
                type: "GET",
                url: URL + "api/Salons/GetSalonIdByUserId",
                data: { "UserId": localStorage.getItem("UserId") },
                cache: false,
                success: function (json) {
                    $.ajax({
                        url: URL + "api/SalonServices/GetEmployeeBookings?SalonId=" + json[0].SalonsId,
                        dataType: 'json',
                        success: function (data) {
                            localStorage.setItem("EmployeeSalonId", json[0].SalonsId);
                            console.log("Salon data");
                            console.log(data);
                            $('#calendar').fullCalendar({
                                header: {
                                    left: 'prev,next today',
                                    center: 'title',
                                    right: 'month,agendaWeek,agendaDay,listWeek'
                                },
                                defaultDate: '2017-11-12',
                                navLinks: true, // can click day/week names to navigate views
                                editable: true,
                                eventLimit: true, // allow "more" link when too many events
                                //events: events
                                events: [
                                 {
                                     title: 'All Day Event',
                                     start: '2017-11-01',
                                 },
                                 {
                                     title: 'Long Event',
                                     start: '2017-11-07',
                                     end: '2017-11-10'
                                 },
                                 {
                                     id: 999,
                                     title: 'Repeating Event',
                                     start: '2017-11-09T16:00:00'
                                 },
                                 {
                                     id: 999,
                                     title: 'Repeating Event',
                                     start: '2017-11-16T16:00:00'
                                 },
                                 {
                                     title: 'Conference',
                                     start: '2017-11-11',
                                     end: '2017-11-13'
                                 },
                                 {
                                     title: 'Meeting',
                                     start: '2017-11-12T10:30:00',
                                     end: '2017-11-12T12:30:00'
                                 },
                                 {
                                     title: 'Lunch',
                                     start: '2017-11-12T12:00:00'
                                 },
                                 {
                                     title: 'Meeting',
                                     start: '2017-11-12T14:30:00'
                                 },
                                 {
                                     title: 'Happy Hour',
                                     start: '2017-11-12T17:30:00'
                                 },
                                 {
                                     title: 'Dinner',
                                     start: '2017-11-12T20:00:00'
                                 },
                                 {
                                     title: 'Birthday Party',
                                     start: '2017-11-13T07:00:00'
                                 },
                                 {
                                     title: 'Click for Google',
                                     url: 'http://google.com/',
                                     start: '2017-11-28'
                                 }
                                ]
                            });
                        }
                    });
                }
            });















        });

    </script>
    <style>
     body {
         margin: 40px 10px;
         padding: 0;
         font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
         font-size: 14px;
     }

     #calendar {
         max-width: 900px;
         margin: 0 auto;
     }
    </style>
</head>
<body>

    <div id='calendar'></div>

</body>
</html>
