
@{
    ViewBag.Title = "Signingup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <section class="content-header">
        <h1>
            Signingup
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Location</a></li>
            <li class="active">Create Signingup</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <div id="dvErrorStatus" style="display:none" class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <label id="lblSigningup"></label>
                        </div>
                        <div id="dvSuccess" style="display:none" class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <label id="lbl_status"></label>
                        </div>
                    </div>
                    <div class="box-body table-responsive">
                        <table style="width: 100%" class="table table-bordered table-hover dataTable">
                            <tr><td colspan="4"><label style="color:red;margin-left: 1%;">* indicates fields are required</label></td></tr>
                            <tr>

                                <td>
                                    Signingup Name:<label style="color:red;margin-left: 1%;">*</label>
                                </td>
                                <td>
                                    <input type="text" maxlength="40" placeholder="Enter Signingup Name" id="txtSigningup" name="txtSigningup" title="Enter Alphabets only" class="form-control" required />
                                </td>

                            </tr>

                            <tr>
                                <td colspan="4" style="text-align:right">
                                    <input type="button" class="btn btn-primary" id="btnSave" value="Save" style="width:100px;" onclick="Save()" />
                                    <input type="button" class="btn btn-primary" id="btnEdit" value="Update" style="width:100px;" onclick="Update()" />
                                    <input type="button" class="btn btn-danger" id="btnReset" value="Reset" onclick="Clear()" style="width:100px;" />
                                    <input type="button" class="btn btn-danger" id="btnBack" value="Back" onclick="window.location.href = '@Url.Action("SigningupList", "Salon")';" style="width:100px;" />
                                    <input type="text" hidden="hidden" id="txtSigningId" name="SigningId" />
                                </td>
                            </tr>
                        </table>
                        <label id="lbl_status"></label>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
<script type="text/javascript">

          var URL = "@System.Configuration.ConfigurationManager.AppSettings["URL"]";
        var UserId = localStorage.getItem("UserId");
        var RoleId = localStorage.getItem("RoleId");
        var EditSigningId = localStorage.getItem("EditSigningId");

        window.onload = function () {
            if (UserId != "null" || UserId != null && RoleId == "1") {

                if (EditSigningId == "null") {
                        $('#btnEdit').hide();
                        $('#btnSave').show();
                    }
                    else {
                    BindSigningup(EditSigningId);
                        $('#btnEdit').show();
                        $('#btnSave').hide();
                        $('#btnReset').hide();
                    }

            }
            else {
                window.location.href = '@Url.Action("Logout", "Salon")';
            }
        }


        //}

    function BindSigningup(SigningId) {
            $("#lbl_status").text("");
            Clear();

            $.ajax({
                url: URL + "api/Signing/GetbyId?SigningupId=" + SigningId,
                type: "GET",
                cache: false,
                success: function (r) {
                    $('#btnEdit').show();
                    $('#btnSave').hide();
                    console.log(r);
                    $("#txtSigningId").val(SigningId);
                    $("#txtSigningup").val(r[0].SigningupName);
                },
                error: function (err) {
                    $("#dvErrorStatus").css({ display: "block" });
                    $('#lblSigningup').text(err.statusText);
                }
            })
        }

        function Save() {
            $("#lbl_status").text("");
            if ($("#txtSigningup").val() != '') {
                var SigningupName = $("#txtSigningup").val();
                var CreatedBy = UserId;
                    $.ajax({
                        url: URL + "api/Signing/Insert",
                        data: { "SigningupName": $("#txtSigningup").val(), "IsActive": 1, "CreatedBy": CreatedBy },
                        type: "GET",
                        cache: false,
                        success: function (r) {
                            if (r[0].Message == "UniqueConstraint") {
                                $("#dvErrorStatus").css({ display: "block" });
                                $("#lblSigningup").text("Signingup Name Already Existed.");
                            }
                            else if (r[0].Message == "Error") {
                                $("#dvErrorStatus").css({ display: "block" });
                                $('#lblSigningup').text(r[0].ErrorMessage);
                            }
                            else {
                                Clear();
                                StatusMessage(2);
                            }
                        },
                        error: function (err) {
                            $("#dvErrorStatus").css({ display: "block" });
                            $('#lblSigningup').text(err.statusText);
                        }
                    });

            } else {
                $("#dvErrorStatus").css({ display: "block" });
                $("#lblSigningup").text("Please Enter Signingup Name");
                $("#txtSigningup").focus();
            }
        }

        function Clear() {
            $("#txtSigningId").val("");
            $("#txtSigningup").val("");
            $("#lbl_status").text("");
            $("#lblSigningup").text(" ");
            $('#btnEdit').hide();
            $('#btnSave').show();
            $("#dvSuccess").css({ display: "none" });
            $("#dvErrorStatus").css({ display: "none" });
        }

        function Update() {
            $("#lbl_status").text("");
            if ($("#txtSigningup").val() != '') {
                var Signingup = $("#txtSigningup").val();
                var UpdatedBy = UserId;
                if (Signingup.match(/^[a-zA-Z ]*$/)) {
                    $.ajax({
                        url: URL + "api/Signing/Update",
                        data: { "SigningupName": $("#txtSigningup").val(), "UpdatedBy": UpdatedBy, "SigningupId": $("#txtSigningId").val() },
                        cache: false,
                        type: "GET",
                        dataType: 'json',
                        contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                        success: function (r) {
                            if (r[0].Message == "UniqueConstraint") {
                                $("#dvErrorStatus").css({ display: "block" });
                                $("#lblSigningup").text("Signingup Name Already Existed.");
                            }
                            else if (r[0].Message == "Error") {
                                $("#dvErrorStatus").css({ display: "block" });
                                $('#lblSigningup').text(r[0].ErrorMessage);
                            }
                            else {
                                Clear();
                                StatusMessage(1);
                            }
                        },
                        error: function (err) {
                            $("#dvErrorStatus").css({ display: "block" });
                            $('#lblSigningup').text(err.statusText);
                        }
                    });
                } else {
                    $("#dvErrorStatus").css({ display: "block" });
                    $("#lblSigningup").text("Please Enter Valid Signingup Name");
                }
            }
            else {
                $("#lblSigningup").text("Please Enter Signingup.");
                $("#lblSigningup").css("color", "Red");
            }
        }

        function StatusMessage(value) {
            localStorage.setItem("SigningupMessage", value);
            window.location.href = '@Url.Action("SigningupList", "Salon")';
        }
</script>
