
@{
    ViewBag.Title = "UnAuthorization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div id="dvErrorStatus" style="display:none" class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                        <label id="lblUser"></label>
                    </div>
                    <div id="dvSuccess" style="display:none" class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <label id="lbl_status"></label>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <div class="col-md-12">
                        <div style="margin:200px auto;text-align:center;">
                            <img src="~/img/Accessdenied.png" style="display:block;width:200px;transform: rotate(22deg);-webkit-transform:rotate(22deg); -ms-transform:rotate(22deg);margin:0 auto;" />
                            <label style="color:red;font-size: 21px; margin-top: 31px;">You Don't have an Access to View this Page Please Contact Your Administrator.</label>
                         </div>
                    </div>
            </div>
        </div>
    </div>
</section>


