
@{
    ViewBag.Title = "UsersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Users
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">User Management</a></li>
        <li class="active">Users</li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div id="dvErrorStatus" style="display:none" class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                        <label id="lblUser"></label>
                    </div>
                    <div id="dvSuccess" style="display:none" class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <label id="lbl_status"></label>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <input type="button" class="btn btn-primary" value="Add User" onclick="window.location.href = '@Url.Action("Users", "Salon")';" style="width:100px;" />

                    <input type="submit" class="btn btn-danger" id="btnBack" value="Back" style="width:100px;float:right;" onclick="window.location.href = '@Url.Action("Dashboard", "Salon")';" />
                </div>
                <div class="box-body table-responsive">
                    <table id="tblUser" style="width: 100%" class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                               
                                <th>Role</th>
                                <th>Username</th>
                                @*<th>Password</th>*@
                                <th>Mobile Number</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody id="tblUserBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>


<script type="text/javascript">
   
    var UserId = localStorage.getItem("UserId");
    var RoleId = localStorage.getItem("RoleId");

    window.onload = function () {
        localStorage.setItem("EditUserId", "null");
        //if (UserId != "null" && RoleId == 1 && UserId != null) {
            var Message = localStorage.getItem("UserMessage");
            if (Message == "1") {
                $("#myModal3").css('display', "block");
                $("#lblupdated").text("User Updated Successfully");
              //  $("#lblupdated").text("User Updated Successfully");
                GetAll();
            }
            else if (Message == "2") {
                $("#myModal3").css('display', "block");
                $("#lblupdated").text("User Created Successfully");
                //$("#lbl_status").text("User Created Successfully");
                GetAll();
            }
            else
            {
                $("#dvErrorStatus").css({ display: "none" });
                $("#dvSuccess").css({ display: "none" });
                GetAll();
            }
       
    }


    function GetAll() {
        localStorage.setItem("UserMessage","null");
        $('#tblUserBody').text('');
        $('#btnEdit').hide();
        $('#btnSave').show();
        $.ajax({
            type: 'GET',
            url: URLLink + "api/Users/Get_Users",
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            xhrFields: {
                withCredentials: false
            },
            success: function (json) {
                if (json[0].Message == "Error") {
                    $('#tblUser').hide();
                    $('#lbl_status').text("No User Found");
                    $('#lbl_status').css("color", "red");
                }
                else if (json[0].Message == "Success") {
                    $('#tblUser').show();
                    if ($.fn.dataTable.isDataTable('#tblUser')) {
                        $('#tblUser').DataTable().destroy();
                    }
                    $('#tblUserBody').empty();
            
                    for (var i = 0; i < json.length; i++) {
                        tr = $('<tr/>');
                       
                        tr.append("<td>" + json[i].RoleName + "</td>");
                        tr.append("<td>" + json[i].UserName + "</td>");
                        //tr.append("<td>" + json[i].Password + "</td>");
                        tr.append("<td>" + json[i].MobileNumber + "</td>");
                        tr.append("<td>" + json[i].Email + "</td>");
                        //tr.append("<td><a href='#' id='delete" + i + "' class='fa fa-trash-o' onclick='UpdateStatus(" + json[i].UserId + ")'></a> | <a href='#' id='edit" + i + "' onclick='Edit(" + json[i].UserId + ")' class='fa fa-pencil'></a></td>");
                        //$('#tblUser').append(tr);
                       
                        if (json[i].Status == "1") {
                            tr.append("<td>Active</td>");
                        }
                        else {
                            tr.append("<td>Deactive</td>");
                        }
                        var stst = "";
                      
                        if (json[i].RoleName.toLowerCase()  !== 'admin') {
                            if (json[i].Status == 1) {
                                stst = "<a href='javascript:void(0);' title='Deactivate' class='fa fa-check nav_action_icon'  onclick='UpdateStatus(" + json[i].UserId + ",0)' ></a>";
                            }
                            else {
                                stst = "<a href='javascript:void(0);' title='Activate' class='fa fa-ban'  onclick='UpdateStatus(" + json[i].UserId + ",1)' ></a>";
                            }
                        }
                        tr.append("<td>" + stst + " | <a href='#' id='edit" + i + "' title='edit' onclick='Edit(" + json[i].UserId + ")' class='fa fa-pencil'></a></td>");
                        $('#tblUser').append(tr);
                    }
                    $('#tblUser').DataTable({
                        bsort: false,
                        dom: 'Bfrtip',
                        buttons: [
                             'excel', 'pdf'
                        ],
                        select: true
                    });
                }
            },
            error: function (err) {
                $("#dvErrorStatus").css({ display: "block" });
                $('#lblUser').text(err.StatusText);
            }
        });
    }

    function Edit(UserId) {
        localStorage.setItem("EditUserId", UserId);
        window.location.href = '@Url.Action("Users", "Salon")';
    }


    function Delete(UserId) {
        $("#lbl_status").text("");
        if (confirm("Are you Sure to delete this User?") == true) {
            $.ajax({
                url: URLLink + "api/Users/UpdateUserStatus?UserId=" + UserId,
                type: "GET",
                cache: false,
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (r) {
                    $("#lblUser").text(" ");
                    $("#tblUserBody").text("");
                    GetAll();
                    if (r[0].Message == "REFERENCE") {
                        $("#dvSuccess").css({ display: "none" });
                        $("#dvErrorStatus").css({ display: "block" });
                        $("#lblUser").text("Sorry! Can't Delete This Record. It Is Existed In Another Table");
                    }
                    else if (r[0].Message == "Error") {
                        $('#tblUser').hide();
                        $("#dvErrorStatus").css({ display: "block" });
                        $('#lblUser').text(r[0].ErrorMessage);
                    }
                    else if (r[0].Message = "Success")
                    {
                        $("#dvErrorStatus").css({ display: "none" });
                        $("#dvSuccess").css({ display: "block" });
                        $("#lbl_status").text("User Deleted Successfully");
                    }
                },
                error: function (err) {
                    $("#dvErrorStatus").css({ display: "block" });
                    $('#lblUser').text(err.StatusText);
                }
            });
        } else {

        }
    }


    function UpdateStatus(UserId, status) {
      
        var etstatus = "";
        if (status == "1") {
            etstatus = "activate";
        } else {
            etstatus = "deactive";
        }
        if (confirm("Are you sure to " + etstatus + " this User?") == true) {
            $.ajax({
                url: URLLink + "api/Users/UpdateUserStatus?UserId=" + UserId + "&status=" + status,
                type: "GET",
                cache: false,
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (r) {
                    $("#dvErrorStatus").css({ display: "none" });
                    $("#dvSuccess").css({ display: "block" });
                    $("#lbl_status").text("User " + etstatus + "d Successfully");
                    GetAll();
                }
            });
        }
    }


</script>
