
@{
    ViewBag.Title = "VoucherTypeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Vouchers
    </h1>
    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Voucher</a></li>
        <li class="active">Vouchers List</li>
    </ol>
    @* <script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div id="dvErrorStatus" style="display:none" class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                        <label id="lblVoucherType"></label>
                    </div>
                    <div id="dvSuccess" style="display:none" class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <label id="lbl_status"></label>
                    </div>

                   
                </div>
                <div class="box-body table-responsive">
                    <input type="button" class="btn btn-primary" value="Add Voucher" onclick="window.location.href = '@Url.Action("VoucherType", "Salon")';" style="text-align:left" />

                    <input type="button" value="Back" style="float:right; width:100px;" class="btn btn-danger" onclick="window.location.href='@Url.Action("Dashboard", "Salon")';" />
                </div>
                <div class="box-body table-responsive">
                    <table id="tblVoucherType" style="width: 100%" class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>OFFER NAME</th>
                                <th>COUPON CODE</th>
                                <th>DISCOUNT START DATE</th>
                                <th>DISCOUNT END DATE</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody id="tblVoucherTypeBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>
<script type="text/javascript">
    
    var UserId = localStorage.getItem("UserId");
    var RoleId = localStorage.getItem("RoleId");

    window.onload = function () {
       // GetAll();
        localStorage.setItem("EditVoucherTypeId", "null");

        //if (UserId != "null" && RoleId == "1") {
        var Message = localStorage.getItem("VoucherTypeMessage");
        if (Message == "1") {
          //  $("#dvErrorStatus").css({ display: "none" });
         //   $("#dvSuccess").css({ display: "block" });
            //  $("#lbl_status").text("VoucherType Updated Successfully");
            $("#myModal3").css('display', "block");
            $("#lblupdated").text("Voucher Updated Successfully");
            GetAll();
        }           
        else if (Message == "2") {
           // $("#dvErrorStatus").css({ display: "none" });
           // $("#dvSuccess").css({ display: "block" });
            // $("#lbl_status").text("VoucherType Created Successfully");
            $("#myModal3").css('display', "block");
            $("#lblupdated").text("Voucher Created Successfully");
            GetAll();
        }
        else {
            $("#dvErrorStatus").css({ display: "none" });
            $("#dvSuccess").css({ display: "none" });
            GetAll();
        }
        @*}
        else {
            window.location.href = '@Url.Action("LockScreen", "Salon")';
        }*@
    }


    function GetAll() {

        localStorage.setItem("VoucherTypeMessage", "null");
        $('#tblVoucherTypeBody').text('');
        $('#btnEdit').hide();
        $('#btnSave').show();
        $.ajax({
            type: 'GET',
            //link
            url: URLLink + "api/VoucherType/Getdata",
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            cache:false,
            xhrFields: {
                withCredentials: false
            },
            success: function (json) {
                console.log(json);
                if (json[0].Message == "Error") {
                    $('#tblVoucherType').hide();
                    $("#dvSuccess").css({ display: "none" });
                    $("#dvErrorStatus").css({ display: "block" });
                    $('#lblVoucherType').text("Error");

                }
                else if (json[0].Message == "NoData") {
                    $('#tblVoucherType').hide();
                    $("#dvSuccess").css({ display: "none" });
                    $("#dvErrorStatus").css({ display: "block" });
                   // $('#lblVoucherType').text("No Data");
                }

                else if (json[0].Message == "Success") {

                    $('#tblVoucherType').show();
                    if ($.fn.dataTable.isDataTable('#tblVoucherType')) {
                        $('#tblVoucherType').DataTable().destroy();
                    }
                    $('#tblVoucherTypeBody').empty();
                    for (var i = 0; i < json.length; i++) {
                      
                        tr = $('<tr/>');
                        tr.append("<td>" + json[i].CouponName + "</td>");
                        tr.append("<td>" + json[i].GiftCoupon + "</td>");
                        tr.append("<td>" + json[i].FromDate1 + "</td>");
                        tr.append("<td>" + json[i].ToDate1 + "</td>");
                        if (json[i].IsActive == 1) {
                            tr.append("<td><a href='#' id='delete" + i + "'  title='Deactivate' onclick='UpdateStatus(" + json[i].VoucherTypeId + " ,0)'><i class='fa fa-check nav_action_icon'></i> </a> | <a href='#' id='edit" + i + "' onclick='Edit(" + json[i].VoucherTypeId + ")' ><i class='fa fa-pencil'></i> </a></td>");
                        }
                        else if (json[i].IsActive == 0) {
                            tr.append("<td><a href='#' id='delete" + i + "' title='Activate' onclick='UpdateStatus(" + json[i].VoucherTypeId + ",1)'><i class='fa fa-ban nav_action_icon'></i> </a> | <a href='#' id='edit" + i + "' onclick='Edit(" + json[i].VoucherTypeId + ")' ><i class='fa fa-pencil'></i> </a></td>");
                        }
                        $('#tblVoucherType').append(tr);
                    }
                    $('#tblVoucherType').DataTable({
                       
                        bsort: false,
                        dom: 'Bfrtip',
                        buttons: [
                             'excel', 'pdf'
                        ],
                        select: true
                    });
                }
            },
            error: function (err) {
                $("#dvSuccess").css({ display: "none" });
                $("#dvErrorStatus").css({ display: "block" });
                $('#lblVoucherType').text(err.StatusText);
            }
        });
    }
    //local
    function Edit(VoucherTypeId) {
        
        localStorage.setItem("EditVoucherTypeId", VoucherTypeId);
        window.location.href = '@Url.Action("VoucherType", "Salon")';
    }

    function UpdateStatus(VoucherTypeId, IsActive) {
        $("#lbl_status").text("");
        var UserId = localStorage.getItem("UserId");
        var StatusText = '';
        var UpdateStatusText = '';
        if (IsActive == 1) {
            StatusText = "active";
            UpdateStatusText = "activated";
        }
        else if (IsActive == 0) {
            StatusText = "deactive";
            UpdateStatusText = "deactivated";
        }
        if (confirm("Are you sure to  " + StatusText + " this voucher?") == true) {
            $.ajax({
                //link
                url: URLLink + "api/VoucherType/UpdateStatus",
                data: { "Status": IsActive, "UpdatedBy": UserId, "VoucherTypeId": VoucherTypeId },
                // UpdateStatus(int Status, int UpdatedBy, int DepartmentId)
                type: "GET",
                cache: false,
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (r) {

                    if (r[0].Message == "REFERENCE") {
                        $("#dvSuccess").css({ display: "none" });
                        $("#dvErrorStatus").css({ display: "block" });
                        $("#lblVoucherType").text("Sorry! Can't Delete This Record. It Is Existed In Another Table");
                    }
                    else if (r[0].Message == "Error") {
                        $('#tblVoucherType').hide();
                        $("#dvErrorStatus").css({ display: "block" });
                        $('#lblVoucherType').text(r[0].ErrorMessage);
                    }
                    else if (r[0].Message = "Success") {
                        GetAll();
                        $("#dvErrorStatus").css({ display: "none" });
                        $("#dvSuccess").css({ display: "block" });
                        $("#lbl_status").text("Voucher " + UpdateStatusText + " Successfully");
                    }
                },
                error: function (err) {
                    alert(err.StatusText);
                }
            });
        }
        else {

        }
    }

///////////////////////////

    function Delete(VoucherTypeId) {
        $("#lbl_status").text("");
        if (confirm("Are you sure to delete this Voucher?") == true) {
            $.ajax({
                //link
                url: URLLink + "api/VoucherType/Delete",
                data: { "VoucherTypeId": VoucherTypeId },
                type: "GET",
                cache: false,
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (r) {
                    $("#lblVoucherType").text(" ");
                    $("#txtVoucherTypeId").val("");
                    $("#txtVoucherType").val("");
                    $("#tblVoucherType").text("");
                    GetAll();
                    if (r[0].Message == "REFERENCE") {
                        $("#dvSuccess").css({ display: "none" });
                        $("#dvErrorStatus").css({ display: "block" });
                        $("#lblVoucherType").text("Sorry! Can't Delete This Record. It Is Existed In Another Table");
                    }
                    else if (r[0].Message == "Error") {
                        $('#tblVoucherType').hide();
                        $("#dvErrorStatus").css({ display: "block" });
                        $('#lblVoucherType').text(r[0].ErrorMessage);
                    }
                    else if (r[0].Message = "Success") {
                        $("#dvErrorStatus").css({ display: "none" });
                        $("#dvSuccess").css({ display: "block" });
                        $("#lbl_status").text("Voucher Deleted Successfully");
                    }
                },
                error: function (err) {
                    $("#dvErrorStatus").css({ display: "block" });
                    $('#lblVoucherType').text(err.StatusText);
                }
            });
        } else {

        }
    }

</script>

